
#content{
	width: 100%;
	height: 100%;
	top: -5%;
	left: 28%;
	position: absolute;
	color: white;
}	
#heading{
    text-align: center;
    background: "images/mcrLogo.png";
}

#sidebar{
    background-color: black;
	width: 70%;
	height: 100%;
	position: fixed;
    word-wrap: normal;
}
.images {
    position: absolute;
    width: 45%;
    height: 45%;
}

body {
	background-color: black;
	color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
