#sidebar{
    background-color: black;
	width: 40%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#content{
	background-color:black;
	width: 40%;
	height: 100%;
	top: 0px;
	left: 250px;
	position: absolute;
	padding: 30px;	
}	

#logo {
	width: 250px;
}
