#sidebar{
	width:30%;
	height:100%;
	top:0px;
	left:0px;
	
}
#content{
	background-color:black;
	width:960;
	height:100%;
	
	top:0px;
	left:250px;
	position:absolute;
	
	padding:30px;
	color:#0f0;
}	

#logo img{
	width:250px;
}
#menu a{
	color:#000000;
}
#menu a:hover{
	color:#000000;
}
#menu{
	text-align:center;
	padding-top:10px;
	font-size:18px;
}