#sidebar{
    background-color: black;
	width: 60%;
	height: 100%;
	top: 0px;
	left: 100px;
}

#content{
	background-color:black;
	width: 60%;
	height: 100%;
	top: 0px;
	left: 60%;
	position: absolute;
	
}	
/*
#logo {
	width: 40%;
}
